@import "bulma-custom";

.link {
  cursor: pointer;
}

// This class uses underscores because it is created inside PlantUML
// where dashes are special
.sequence_diagram_clickable {
  cursor: pointer;
}

.test-disabled {
  @extend .is-warning;
}

.test-failed {
  @extend .is-danger
}

.test-passed {
  @extend .is-success
}

.kensa-highlight {
  background-color: yellow;
  color: $grey-dark
}

.execution-exception {
  color: $danger;
  max-height: 435px;
}

.execution-exception .exception-message {
  padding: 15px;
  white-space: pre-line;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}

.execution-exception .exception-stacktrace {
  resize: none;
  color: $danger;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  height: 250px;
}

.message .test-passed .message-body {
  border-color: $success !important;
  color: $black !important;
}

.message .test-failed .message-body {
  border-color: $danger !important;
  color: $black !important;
}

.renderable-attribute {
  margin-bottom: 10px !important;
}

.captured-interaction {
  background-color: transparent;
}

.captured-interaction .card-content {
  //padding: 5px;
  background-color: transparent;
  font-size: 15px;
}

.captured-interaction .card-content .lowlight {
  //background-color: #2b2b2b;
}

.buttons:not(:last-child) {
  margin-bottom: 0 !important;
}

.buttons .button.has-selected {
  margin-bottom: 0.5rem !important;
}

.table.is-borderless td, th {
  border: 0
}

.table.pairs {
  font-family: monospace;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $grey;
}

.buttons .button.is-selected {
  margin-bottom: 0.5rem !important;
}

.buttons .button {
  margin-bottom: 0 !important;
}

pre.lowlight {
  padding: 0
}

.is-divider {
  margin: 1rem 0 !important;
}

.pairs .name {
  font-weight: bold;
}

.pairs .name::after {
  content: ':'
}